@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    background-image: url(https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    z-index: 1;
}

header {
    padding: 30px;
    
}

#title, #description {
    font-weight: 200;
    text-align: center;
}

.main {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    z-index: 2;
    background-color: hsla(251, 78%, 63%, 0.5);
}

#survey-form {
    background-color: hsla(250, 90%, 4%, 0.8);
    display: block;
    margin: auto;
    max-width: 750px;
    padding: 40px;
    border-radius: 5px;
}

.form-input {
    margin-bottom: 30px;
}

#name, #email, #number, #dropdown {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

#story {
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    font-size: 16px;
}

#submit {
    width: 100%;
    border-radius: 3px;
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
    font-weight: 200;
    background-color: #37af65;
    color: white;
}

input[type="checkbox"] {
    padding: 100px;
}