* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    border-right: 1px solid black;
}

#navbar a {
    display: block;
    text-decoration: none;
    color: #4d4e53;
    padding: 10px 20px;
}

#navbar header {
    border-bottom: 1px solid black;
    
}

#last-nav-link {
    border-bottom: none;
}

#main-doc {
    margin-left: 330px;
}

section header {
    color: #000;
    font-size: 26px;
}

ul {
    padding-left: 60px;
}

code {
    background-color: #F7F7F7;
}