@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px
}

#header-img {
    max-width: 300px;
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.nav-link  a {
    text-decoration: none;
    color: black;
}

form {
    text-align: center;
}

form h1 {
    font-size: 24px;
}

#email {
    width: 300px;
    height: 30px;
    padding: 10px;
    margin: 20px;
}

.submit-btn {
    background-color: #f1c40f;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.features {
    max-width: 900px;
    margin: auto;
}

.wraper {
    display: flex;
}

.feature {
    margin: 60px;
}

.video {
    margin: auto;
    display: block;
    max-width: 560px;
}

iframe {
    width: 100%;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 70px auto 30px auto;
}

.card {
    text-align: center;
    border: 1px solid black;
    margin: 15px;
}

.card-top {
    background-color: #DDDDDD;
    padding: 20px 90px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-body {
    padding: 10px 40px;
}

.card-body p {
    padding: 5px;
}

.cost {
    font-size: 22px;
}

button {
    padding: 10px 25px;
    margin-top: 30px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #F1C40F;
    border: none;
    border-radius: 2px;
    font-size: 18px;
}

footer {
    background-color: #DDDDDD;
    max-width: 1000px;
}