@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.material-icons {
  padding: 0 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0fr 5fr;
}

ul {
  list-style: none;
}

ul li {
  cursor: pointer;
}

.header {
  background-color: #ffffff;
  padding: 20px 50px;
}

.sidebar {
  padding: 20px;
  color: white;
  background-color: #1992d4;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.sidebar p {
  display: flex;
  align-items: center;
  font-size: 26px;
}

.sidebar ul {
  margin-top: 50px;
}

.sidebar ul li {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.main {
  background-color: #e2e8f0;
  display: flex;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
}

.main-projects {
  flex-basis: 70%;
}

.main-projects > p {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border-radius: 5px;
  border-left: 7px solid #f0b429;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card p:nth-child(1) {
  font-weight: bold;
}

.card p:nth-child(2) {
  color: #636363;
}

.card p:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

.activities {
  flex-basis: 30%;
}

.activities > p {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

.announcements {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.announcements-item {
  padding: 20px;
  border-bottom: 3px solid #eee;
  cursor: pointer;
}

.announcements-item p:first-child {
  font-weight: bold;
  padding: 5px 0;
}

.announcements-item p:nth-child(2) {
  color: #636363;
}

.announcements-item:last-child {
  border: none;
}

.trending {
  padding: 0 20px;
  background-color: #fff;
  border-radius: 5px;
}

.trending-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.trending-item p:nth-child(2) {
  color: #636363;
}

.trending-item img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.top img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.top-left,
.top-right {
  display: flex;
  align-items: center;
}

.top-left {
  flex-basis: 80%;
}

.top-right {
  flex-basis: 20%;
  justify-content: space-between;
}

.top-right > p {
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
}

.top-right > img {
  cursor: pointer;
}

.top-right > span {
  cursor: pointer;
}

.top-left > span {
  padding: 0;
}

.author {
  margin-left: 15px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  background-color: #e2e8f0;
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  margin: auto 20px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-left,
.bottom-right {
  display: flex;
  align-items: center;
}

.greet {
  display: flex;
  flex-direction: column;
}

.greet > p {
  font-weight: bold;
  padding: 5px;
}

.greet > p:last-child {
  font-size: 22px;
}

.bottom-left img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 20px;
}

.bottom-right > button {
  padding: 10px 25px;
  color: #fff;
  background-color: #1992d4;
  border-radius: 20px;
  border: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: -9000px;
  top: -9999px;
}

.menu-close {
  position: absolute;
  top: -9999px;
  right: -9999px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 440px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .menu {
    position: static;
    cursor: pointer;
    margin-right: 10px;
  }

  .header {
    padding: 10px 10px;
  }

  label > span.material-icons {
    padding: 0;
  }

  .search-input {
    margin: 0 5px;
  }

  .top {
    margin-bottom: 0;
  }

  .top img {
    width: 35px;
    height: 35px;
  }

  .top-right > p {
    padding: 0 10px;
    font-size: 12px;
  }

  .top-left {
    flex-basis: auto;
  }

  .top-right {
    flex-basis: auto;
  }

  .bottom {
    display: none;
  }

  .main {
    flex-direction: column;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    height: 100vh;
    position: absolute;
    right: -9999px;
    top: -9999px;
    transition: ease-in-out;
  }

  .menu-close {
    position: relative;
    top: inherit;
    right: inherit;
  }
}
