@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
}

a {
    text-decoration: none;
}

.search-results {
    padding-left: 175px;
    max-width: 900px;
}

#est {
    color: #70757a;
    padding: 5px 20px;
    font-size: 14px;
}

.search-link {
    padding: 15px 20px;
}

.link-link {
    color: #4d5156;
    font-size: 14px;
}

.link-header {
    color: #1a0dab;
    font-size: 20px;
}

.link-header:hover {
    text-decoration: underline;
}

.search-link-body p {
    line-height: 1.58;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 900px) {
    .search-results {
        padding-left: 0;
    }
}